# Ignore all node_modules

**/node_modules/**

**/.expo/**
**/.next/**
**/__generated__/**
**/build/**

# Other
**/metro.config.js/**
**/android/**
**/assets/**
**/bin/**
**/fastlane/**
**/ios/**
**/kotlin/providers/**
**/vendored/**
/docs/public/static/**

